@media (min-width: 1200px) {
  .home-search {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .nav-logo {
    background-image: url(https://http2.mlstatic.com/ui/navigation/5.1.0/mercadolibre/logo__large_plus.png);
  }
}

.bg {
  background-color: #fff159;
}
