<div class="row">
  <div class="col-sm-3">
    <a href="#" [routerLink]="['/item/', item.id]"
      ><img [src]="item.picture"
    /></a>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <h3>
          <span> {{ item.price.currency }}{{ item.price.amount }}</span>
          <span *ngIf="item.price.decimal != 0">.{{ item.price.decimal }}</span>
        </h3>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-3">
        <span>
          {{ item.state_name }}
        </span>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-sm-8">
        <span>
          <h4>{{ item.title }}</h4>
        </span>
      </div>
    </div>
  </div>
</div>
